html,body
{
    margin: 0;
    height:100vh;
    width: 100vw;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main 
{
    height:100vh;
    width: 100vw;
    background-color:#F5F1ED;
    overflow-x: hidden;
   
}




.header
{
    height: 5em;
    
    display: flex;
    justify-content: space-between;
    position: relative;
}



#sideBar
{
    position: absolute;
    top: 0;
    z-index: 1;
    right: -350px;
    transition: all 1s;
}


.wrapper
{
    display: flex;
    flex-direction: column;
}
.wrapperBlack
{
    background-color: black;
}

/* ================Styling for Logo page layout Starts here */

.wrapper .logoBlob
{
    height:60vh;
    width: 100vw;
    border: 1px solid black;
    
}

#separate1,
#separate2
{
    height: 10vh;
    margin-top:.5em;
    /* background-color: lightcoral; */
}


.divider 
{
    display: flex;
    position: relative;
    left: 0em;
    justify-content: center;

}

.rules
{
    height: 50vh;
    /* background-color: lightsalmon; */
    margin: 1em;
    /* border: 2px solid black; */
}
.rulesContainer
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#first, #second, #third, #fourth, #fifth
{
    margin-bottom:1em;
}
.canvas 

{
    height: 70vh;
    margin-top: 1em;
    /* background-color: lightseagreen; */
}

.colors 
{
    height: 10vh;
    background-color: lightsteelblue; 
    margin-top: .2em;
    display: flex;
    justify-content: center;
    /* justify-content: space-around; */
}

/* ================Styling for Logo page layout ends here============= */





/*====== styling for Voice page starts here =========== */

.missionTagLine
{
    display: flex;
    position: relative;
    
    /* height: 70vh; */
    /* width: 100vw; */
    border: 1px solid black;
    justify-content: center;
}

#missionGlobe
{
    position: relative;
    left: 30em;
}

.animSpace
{
    height: 20vh;
    background-color: lightblue;
}
#illustration1
{
    
    height: 60vh;
}


.value 
{
    height: 50vh;
    background-color: lightseagreen;
}

#paraText
{
    display: flex;
    flex-direction: column;
    font-size: 40px;
    align-items: flex-start;
    
}
#paraText p {
    width: 50%;
}
 #paraText2 
{
    display: flex;
    flex-direction: column;
    font-size: 40px;
    
    align-items: flex-end;
    
}

#paraText2 p 
{
    width: 50%;
}
 
#paraText3 
{
    display: flex;
    flex-direction: column;
    font-size: 40px;
    align-items: flex-start;
    
}

#paraText3 p 
{
    width: 50%;
}

#paraText4 
{
    display: flex;
    flex-direction: column;
    font-size: 40px;
    /* justify-self: right; */
    text-align: right;
    align-items: flex-end;
    
}

#paraText4 p 
{
    width: 50%;
}




.voice1 
{
    height: 100em;
    background-color: rgb(220, 149, 105);
}
.voice2 
{
    height: 100vh;
    background-color: lightseagreen;
}
.voice3
{
    height: 50vh;
    background-color: lightseagreen;
    
}




.careCompassion, .mindful, .progress
{
    display: flex;
    flex-direction: column;
    /* height: 70vh; */
}

/*====== styling for Voice page ends here =========== */


/*====== styling for Graphic page starts here =========== */

#compBlob 
{
    
    height:100vh;
    /* border: 1px solid black; */
    
}

#compColumns
{
    height:100vh;
    /* border: 1px solid rgb(249, 94, 94); */
    display: flex;
    justify-content: space-around;
}

.leftCont
{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   margin-top: 2em;
   height: 85vh;
   border: 2px solid grey;
   box-shadow: 1px 1px 1px grey;
   border-radius: 3em;
   width: 35%;
}


.rightCont 
{   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 2em;
    height: 85vh;
    width: 35%;
    border: 2px solid grey;
    box-shadow: 1px 1px 1px grey;
    border-radius: 3em;
} 




#illustrationBlob
{
    height:100vh;
    /* border: 1px solid rgb(230, 230, 101); */
    
}

#illustrationContainer
{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    height:100vh;
    /* border: 1px solid rgb(10, 41, 60); */
}
#ill1
{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    
}
#ill2
{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    
}
#ill3
{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    margin-right: 1em;
    
}



#animationBlob
{
    height:100vh;
    
    
}

.animationCont
{   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100%;
    margin: .5em;
    
    
}

/* #animCont1,#animCont2,#animCont3,#animCont4,#animCont5,#animCont6,#animCont7 
{
    height: 50vh;
    width: 90vw;
    margin: 1em;
    border: 2px solid  red;
} */





/* styling for graphic page ends here */



 /* styling ========== for color page starts here=========== */

.infoFlex
{
    display: flex;
}

 .col1,.col2,.col3,.col4,.col5{
    position:absolute;
    width:100%;
    height: 20em;
    background-color:black;
}


.col1{
    left:10em;
}


.col2{
    top:20em;
    left:25em;
}


.col3{
    top:40em;
    left:60em;
}

.col4{
    top:60em;
    left:40em;
}

.col5{
    top:80em;
    left:8em;
}


.color-col{
    display:flex;
    position:relative;
    flex-direction:column;
    background-color:black;
    height:86.0625em;
    width: 30%;

}

.color-info-col{
    display:flex;
    flex-direction: column;
    height:100em;
    width:70%;
    top:10em;
}

.color-row-1, .color-row-2, .color-row-3, .color-row-4, .color-row-5{
    display:flex;
    width:100%;
    height:20em;
    background-color: black;
    justify-content: space-between;
    align-items:flex-start;
}

@keyframes moveSwatches
{
 from { transform: rotate(0deg) translateX(70px) rotate(0deg); }
 to   { transform: rotate(360deg) translateX(80px) rotate(-360deg); }
}

@keyframes moveSwatch2
{
 from { transform: rotate(0deg) translateX(80px) rotate(0deg); }
 to   { transform: rotate(-360deg) translateX(80px) rotate(-360deg); }
}

@keyframes moveSwatch3
{
 from { transform: rotate(0deg) translateX(60px) rotate(0deg); }
 to   { transform: rotate(360deg) translateX(70px) rotate(-360deg); }
}

@keyframes moveSwatch4
{
 from { transform: rotate(0deg) translateX(80px) rotate(0deg); }
 to   { transform: rotate(-360deg) translateX(80px) rotate(-3600deg); }
}
@keyframes moveSwatch5
{
 from { transform: rotate(0deg) translateX(70px) rotate(0deg); }
 to   { transform: rotate(360deg) translateX(90px) rotate(-360deg); }
}


/*========= styling for color page ends here======== */



/* =========styling for typography================  */


.blob
{
    display:flex;
    width:100%;
    height:50em;
    background-color: #F5F1ED;
}

.changoContainer-1{
    display:flex;
    flex-direction:column;
    width:100%;
    height:30em;
    background-color: #F5F1ED;
    justify-content:flex-end;
    align-items:center;
}

.changoContainer-2{
    display:flex;
    width:100%;
    height:25em;
    background-color: #F5F1ED;
    justify-content:center;
    align-items:center;
}

.blob2{
    display:flex;
    width:100%;
    height:50em;
    background-color: #F5F1ED;

}

.montserratContainer-1{
    display:flex;
    flex-direction:column;
    width:100%;
    height:30em;
    background-color: #F5F1ED;
    justify-content:flex-end;
    align-items:center;
}

.montserratContainer-2{
    display:flex;
    width:100%;
    height:55em;
    background-color: #F5F1ED;
    justify-content:center;
    align-items:center;
}


/* =========styling for typography ends here================  */