html,body
{
    margin: 0;
    height:100vh;
    width: 100vw;
    box-sizing: border-box;
    
}

main 
{
    height:100vh;
    width: 100vw;
    background-color:#F5F1ED;
    overflow-x: hidden;
   
}




.header
{
    height: 5em;
    background-color: blanchedalmond;
    display: flex;
    justify-content: space-between;
    position: relative;
}



#sideBar
{
    position: absolute;
    top: 0;
    z-index: 1;
    right: -350px;
    transition: all 1s;
}


.wrapper
{
    display: flex;
    flex-direction: column;
}


/* ================Styling for Logo page layout Starts here */

.wrapper .logoBlob
{
    height:40vh;
    width: 100vw;
    background-color: lightblue;
    
}

#separate1,
#separate2
{
    height: 10vh;
    margin-top:.5em;
    /* background-color: lightcoral; */
}

.rules
{
    height: 40em;
    /* background-color: lightsalmon; */
    margin: 1em;
    /* border: 2px solid black; */
}
.rulesContainer
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#first, #second, #third, #fourth, #fifth
{
    margin-bottom:1em;
}
.canvas 

{
    height: 70vh;
    margin-top: 1em;
    /* background-color: lightseagreen; */
}

.colors 
{
    height: 10vh;
    background-color: lightsteelblue; 
    margin-top: .2em;
    display: flex;
    justify-content: center;
    /* justify-content: space-around; */
}
