html,body
{
    margin: 0;
    height:100vh;
    width: 100vw;
    box-sizing: border-box;
    
}

main 
{
    height:100vh;
    width: 100vw;
    background-color: beige;
    overflow-x: hidden;
   
}

.header
{
    height: 5em;
    background-color: blanchedalmond;
    display: flex;
    justify-content: space-between;
    position: relative;
}



#sideBar
{
    position: absolute;
    top: 0;
    
    right: -350px;
    transition: all 1s;
}

